<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<!-- LittleHotelier API Settings -->
		<add key="LittleHotelierApiKey" value="" />
		<add key="PropertyId" value="redinncourt" />
		<add key="ApiBaseUrl" value="http://apac.littlehotelier.com/api/v1/" />

		<!-- WhatsApp Business API Settings -->
		<add key="WhatsAppToken" value="your_whatsapp_business_token" />
		<add key="WhatsAppPhoneId" value="your_phone_number_id" />
		<add key="CompanyGroupId" value="your_company_group_chat_id" />

		<!-- Application Settings -->
		<add key="CheckIntervalMinutes" value="60" />
	</appSettings>


	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
